.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: .5rem;
  padding: 1rem;
  background: #fafafa;
}
.card {
  background: #fdfdfd;
  width: 300px;
  margin: .2rem;
  padding: .6rem .8rem 2rem .8rem;
  height: 280px;
  border-radius: 9px;
  background: #ffffff;
  box-shadow:  6px 6px 12px #f2f2f2, -6px -6px 12px #ffffff;
}
.title {
  letter-spacing: .1rem;
}
.currency {
  display: flex;
  flex-wrap: wrap;
  margin-top: -.7rem;
}
.currency p {
  background: rgb(235, 235, 235);
  border-radius: 9px;
  padding: .3rem .5rem;
  margin: .1rem;
  text-transform: uppercase;
}
